<a href="https://colab.research.google.com/github/sjtalkar/DP-203-Azure-Data-Engineering-Notes/blob/main/MLUsingSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#https://towardsdatascience.com/how-to-successfully-add-large-data-sets-to-google-drive-130beb320f1a

# New Section

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
%ls

%cd '/content/drive/My Drive/Databricks/'
!pwd

drive/  sample_data/
/content/drive/My Drive/Databricks
/content/drive/My Drive/Databricks

In [4]:
!pwd

/content/drive/My Drive/Databricks

In [26]:
#you can only apply this to a file not a directory
#!7z e 'members_v3.csv.7z'

/content/drive/My Drive/Databricks

In [5]:
#moving to the path containing the files opens them consistently
members = pd.read_csv('members.csv')
transactions = pd.read_csv('transactions.csv')
user_logs =  pd.read_csv('user_logs.csv')

In [10]:
#!7z e 'train_v2.csv.7z'

In [8]:
train = pd.read_csv('train_v2.csv')

In [9]:
train

                                                msno  is_churn
0       ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1       f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2       zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3       8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4       K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1
...                                              ...       ...
970955  OHnZbu+EVaP+vN7Z+OfT5OMcp90MWFZonmM0o3pb8FY=         0
970956  S92bDK//uI6hk3u1vuApro0qJBQOToBozZ7lL1yTC+w=         0
970957  eUa3xo16vpAjr43Cjlb6Kjf1NTILYyJIkBayJQdXWnw=         0
970958  iZE41tbAQ65rJq60olkJT4BJzuUAYgQdfbEemXe/TTk=         0
970959  oECkzJik4wKsbOEVY6UACLbmgM8qymFdb5cJaHrodY8=         0

[970960 rows x 2 columns]

In [11]:
transactions

                                                 msno  ...  is_cancel
0        ++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=  ...          0
1        ++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=  ...          0
2        +/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=  ...          0
3        +/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=  ...          1
4        +00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=  ...          0
...                                               ...  ...        ...
1431004  zwF50wwaJI2TBKWhB42HRBJ6EQK0jgSo1Xmwb9Jq3SU=  ...          0
1431005  zx/h5MzQQmsSat04wSfGpHp6N8aWLLwM1+7OV7ujmPY=  ...          0
1431006  zxvgjIKjy18Fm+cIWUfYKr68z09+ILBxuMW0DnbeUZ8=  ...          0
1431007  zzNhkExbpzmpjp9tXefiCUBtgNLgS+vZE7fFfTRDJVc=  ...          0
1431008  zzZmdSzz7J9oyC/5nHr/HBvWg6k+p2W15b6lt/VKUQE=  ...          0

[1431009 rows x 9 columns]

In [12]:
#https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/
!apt-get install openjdk-8-jdk-headless -qq > /dev/null